<section class="relative w-screen lg:h-[540px]">
	<img class="w-full h-full object-cover object-center grayscale blur-sm" src="/aguirre.png" />
	<img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 lg:w-[560px]" src="/aguirre-logo.png">
</section>
