<section class="relative w-screen lg:h-[760px]">
	<img class="w-full h-full object-cover object-center blur-sm" src="/public/aguirre.png" />
	<img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 lg:w-96" src="/public/aguirre-logo.png">
</section>
