<section class="relative">
	<div>
		<img class="w-screen h-[760px] object-cover object-center blur-sm" src="/public/aguirre.png" />
	</div>
	<img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="/public/aguirre-logo.png">
</section>
