---
import { Image } from 'astro:assets';
import AguirreImage from '../images/aguirre.webp';
import AguirreLogo from '../images/aguirre-logo.webp';
---

<section class="relative w-screen lg:h-[540px]">
	<Image class="w-full h-full object-cover object-center grayscale blur-sm" src={AguirreImage} alt="" />
	<Image class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-48 lg:w-[560px]" src={AguirreLogo} alt="">
</section>
