<nav class="z-20 w-full bg-red-600 h-12 lg:h-16 flex items-center justify-center sticky top-0 !m-0">
	<a href="#songs">Nuevas canciones</a>
	<a href="#about">Biografía</a>
	<a href="#video">Último videoclip</a>
</nav>
