<nav class="z-10 w-full bg-red-600 h-18 flex items-center justify-center sticky top-0 !m-0">
	<a href="#songs">Nuevas canciones</a>
	<a href="#about">Biografía</a>
	<a href="#video">Último videoclip</a>
</nav>
