---
import { Image } from 'astro:assets';
import AguirrePress from '../images/aguirre-press.webp';
---

<section id="press" class="relative flex flex-col items-center space-y-4 lg:space-y-10 w-full py-8 lg:py-16">
  <h1>Prensa</h1>
  <a href="https://mediospublicos.uy/aguirre-presenta-sus-nuevas-canciones/" target="_blank" class="w-[90%] lg:w-2/3">
    <Image src={AguirrePress} alt="" class="rounded-lg" />
  </a>
</section>
