<section class="flex flex-col w-screen items-center space-y-10">
	<h1 class="text-5xl font-bold text-red-600">Nuevas canciones</h1>
	<iframe class="w-1/2" style="border-radius:12px" src="https://open.spotify.com/embed/album/2BKfuZRUh7kHymIT9zJuLO?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</section>
