<section id="video" class="flex flex-col items-center space-y-4 lg:space-y-10 w-full py-8 lg:py-16 bg-[url('/red-bg-image.jpg')] bg-cover bg-no-repeat">
  <h1 class="text-gray-600">Último videoclip</h1>
  <div class="w-[90%] h-[240px] lg:w-2/3 rounded-lg lg:h-[560px] z-10">
    <iframe class="w-full h-full rounded-lg" src="https://www.youtube.com/embed/-TpPbvQCo6Y?si=hakyzp6kiuBmOl9r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>
