<section class="flex flex-col items-center space-y-10">
  <h1 class="text-5xl font-bold text-red-600">Video</h1>
  <iframe class="rounded-lg" width="560" height="315" src="https://www.youtube.com/embed/AV-avJyqmoM?si=QMeAHKuvuqp-tSQB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
