---
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Leonel Aguirre, músico uruguayo." />
		<meta property="og:title" content="AGUIRRE" />
		<meta property="og:type" content="music.musician" />
		<meta property="og:url" content="https://www.leonelaguirre.com" />
		<meta property="og:image" content="https://www.leonelaguirre.com/aguirre-logo-full.webp" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{content.title}</title>
	</head>
	<body class="space-y-10 lg:space-y-24 mb-10 lg:mb-20">
		<slot />
	</body>
</html>
